<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EverDrive GB Theme Editor</title>

    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"/> -->
    <meta name="description" content="EverDrive GB Theme Editor is a tool to create custom themes for Krikzz's Game Boy flashcarts.">
    <meta property="og:description" content="EverDrive GB Theme Editor is a tool to create and share custom themes for Krikzz's Game Boy flashcarts." />
    <meta property="og:image" content="https://orangeglo.github.io/everdrive-gb-editor/img/ogimage.png" />
    <meta property="og:url" content="https://orangeglo.github.io/everdrive-gb-editor/" />
    <meta property="og:site_name" content="EverDrive GB Theme Editor" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#FF8800" />

    <script src="script/vue.min.js"></script>
    <script id="devload" src="script/devload.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
  </head>

  <body>
    <span class='font-loader'>.</span>
    <noscript>
      Looks like you have JS disabled. This tool needs javascript to function!
    </noscript>

    <div class='heading'>
      <h1><span class='outline'>EverDrive GB</span> Theme Editor</h1>
      <p>Create a custom color theme for your EverDrive GB flashcarts!</p>
      <p>Looking for the GBA theme editor? <a href="https://orangeglo.github.io/everdrive-gba-editor/">Click here to switch</a>
    </div>

    <div id="app">
      <div class='row'>
        <div class='theme-controls'>
          <h3> Select Cart Model </h3>
          <div class='model-select'>
            <input type="radio" id="xseries" value="xseries" v-model="model">
            <label for="xseries">X Series (X3, X5, & X7)</label>
            <input type="radio" id="edgb" value="edgb" v-model="model">
            <label for="edgb">Original EverDrive GB</label>
          </div>

          <h3> Edit Palette Entries </h3>
          <div class='palettes'>
            <palette-entry
              v-for="palette in palettes"
              :palette="palette"
              @color-changed="colorChanged($event.value, $event.id)"
            ></palette-entry>
          </div>

          <div class='form-controls'>
            <button @click="reset">Reset to Default</button>
            <div>
              <button v-on:click="triggerIpsFileLabel" type="button">
                <label for="ipsFileInput" ref="ipsFileLabel" v-on:click="e => e.stopPropagation()">Import an IPS Patch</label>
              </button>
              <input style="display: none" id="ipsFileInput" type="file" v-on:change="uploadIPS" accept=".ips">
            </div>
          </div>

          <h3> Download, Patch, & Share </h3>
          <a
            :href='patchData'
            class='download-link'
            type="application/octet-stream"
            :download="filename"
            :class="{ disabled: !downloadEnabled }"
          >
            >>> Download IPS Patch <<<
          </a>
          <p class='short-text'>
            Apply the patch to the
            <span v-if="model == 'xseries'" class='bold'>GBCSYS/GBCOS.BIN</span>
            <span v-if="model == 'edgb'" class='bold'>GBOS.GB</span>
            file on your EverDrive. This patch will only work with the latest firmware version,
            <span v-if="model == 'xseries'" class='bold'>v1.04!</span>
            <span v-if="model == 'edgb'" class='bold'>v4!</span>
          </p>
          <p class='short-text'>
            You can download the latest firmware from
            <a v-if="model == 'xseries'" href="http://krikzz.com/pub/support/everdrive-gb/x-series/OS/">Krikzz's website</a>
            <a v-if="model == 'edgb'" href="http://krikzz.com/pub/support/everdrive-gb/OS/v4/">Krikzz's website</a>
            . I recommend using <a href="https://www.romhacking.net/patch/">ROMhacking.net's online patching tool</a> if you don't have a preferred patching method.
          </p>
          <p class='short-text'>
            Share your theme by sharing the current URL! Your theme is encoded into the query parameters.
          </p>
        </div>
        <div class='live-preview'>
          <live-preview :palettes="palettes" :fonts-loaded='fontsLoaded'></live-preview>
          <live-preview :palettes="palettes" :show-menu='true' :fonts-loaded='fontsLoaded'></live-preview>
        </div>
      </div>
    </div>

    <footer>
      <a href="https://github.com/orangeglo/everdrive-gb-editor">view this project on github</a>
      -
      by orangeglo (orangeglo#6197 on Discord)
      -
      <a href="https://orangeglo.github.io/">more tools @ orangeglo.github.io</a>
    </footer>

    <script src="script/app.js"></script>
  </body>
</html>
